NodeRED-Nexmo-SOE.json
[{"id":"84ea6769.4bdd68","type":"tab","label":"Nexmo Flow","disabled":true,"info":""},{"id":"e0d6291c.347638","type":"watson-conversation-v1","z":"84ea6769.4bdd68","name":"Watson Assistant","workspaceid":"","multiuser":false,"context":true,"empty-payload":true,"default-endpoint":false,"service-endpoint":"","timeout":"10000","optout-learning":false,"x":779.5832672119141,"y":128.0555591583252,"wires":[["2006183a.fc7688"]]},{"id":"35139480.b1badc","type":"voice webhook","z":"84ea6769.4bdd68","name":"Answer URL","url":"/answerURL","method":"get","x":140.25,"y":433.25000953674316,"wires":[["5a59c71f.ddc758","5ddca4c7.17d42c"]]},{"id":"5a59c71f.ddc758","type":"talk","z":"84ea6769.4bdd68","text":"Please wait while we connect you.","voicename":"","bargein":false,"loop":"","level":"","x":320.50000381469727,"y":433.50000762939453,"wires":[["27dd6ba5.efa1a4"]]},{"id":"cfa7df42.0bcf4","type":"return ncco","z":"84ea6769.4bdd68","name":"","x":679.0000095367432,"y":432.7500057220459,"wires":[]},{"id":"ec6da6f3.3b7b18","type":"voice webhook","z":"84ea6769.4bdd68","name":"Event URL","url":"/eventURL","method":"post","x":132.75,"y":345.75000762939453,"wires":[["193b0876.c98528"]]},{"id":"193b0876.c98528","type":"http response","z":"84ea6769.4bdd68","name":"Return 200","statusCode":"200","headers":{},"x":352.75000381469727,"y":345.5000066757202,"wires":[]},{"id":"27dd6ba5.efa1a4","type":"connect","z":"84ea6769.4bdd68","endpoint":"sip","to":"","wsuri":"","sipuri":"sip:15555555555@<sip url>","from":"15555555555","dtmfanswer":"","onanswer":"","headers":"","eventtype":false,"timeout":"","limit":"","eventurl":"","x":491.87500762939453,"y":433.7500057220459,"wires":[["cfa7df42.0bcf4"]]},{"id":"5ddca4c7.17d42c","type":"debug","z":"84ea6769.4bdd68","name":"Nexmo Call Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"call","x":370.62500381469727,"y":517.5000095367432,"wires":[]},{"id":"60d49c36.4a07e4","type":"http in","z":"84ea6769.4bdd68","name":"Watson Assistant URL","url":"/soe","method":"post","upload":false,"swaggerDoc":"","x":170,"y":127.50001907348633,"wires":[["22f26cc5.1e9ee4","53f70880.5bc708"]]},{"id":"2006183a.fc7688","type":"http response","z":"84ea6769.4bdd68","name":"","statusCode":"","headers":{},"x":1002.0000762939453,"y":127.25002479553223,"wires":[]},{"id":"22f26cc5.1e9ee4","type":"debug","z":"84ea6769.4bdd68","name":"Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":401.2500343322754,"y":206.0000343322754,"wires":[]},{"id":"ec0b6dde.12253","type":"debug","z":"84ea6769.4bdd68","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":734.625072479248,"y":207.25001907348633,"wires":[]},{"id":"802b8c9e.25a9f","type":"comment","z":"84ea6769.4bdd68","name":"Voice Agent SOE","info":"","x":153.12503051757812,"y":60.50001907348633,"wires":[]},{"id":"53f70880.5bc708","type":"change","z":"84ea6769.4bdd68","name":"Set msg.payload to input text","rules":[{"t":"move","p":"payload","pt":"msg","to":"params","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"params.input.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.75006103515625,"y":127.50001907348633,"wires":[["e0d6291c.347638","ec0b6dde.12253"]]},{"id":"2e5d7ffb.d4c84","type":"comment","z":"84ea6769.4bdd68","name":"Nexmo Call Control","info":"","x":161.25,"y":285.00000381469727,"wires":[]}]
